// --------------------------------- COLORS ---------------------------------

// White
$white: #fff;

// black
$black_1: #161616;
$black_2: rgba(166, 166, 166, 0.4);
$black_3: #7a7a7a;

// Blue
$blue_1: #168acd;
